server:
  port: 8090

spring:
  application:
    name: stream-producer
 # kafka:
 #   bootstrap-servers: localhost:9092
 #  rabbitmq:
      # 确认机制需要依靠 Spring AMQP 实现，Stream 并不提供，Binder 本身使用的也是 Spring Boot 的 Connection Factory
      # Stream 支持 Spring AMQP 的所有配置
  #   publisher-returns: true
  #   publisher-confirm-type: simple
  #   host: localhost
  #   username: admin
  #   password: corgi123
  #   port: 5672
  # Supplier 全局轮询配置
  # integration:
  #   poller:
      # cron: 1 * * * * ?          # CRON 表达式
      # fixed-delay: 5s            # 固定延迟，与 fixed-rate、cron 互斥
      # fixed-rate: 2s             # 固定频率，与 fixed-delay、cron 互斥
      # initial-delay: 5           # 初始延迟，应用于 fixed-delay、fixed-rate，对 cron 无效
      # max-messages-per-poll: 2   # 每次轮询的最大消息条数
      # receive-timeout: 5s        # 接收超时时间
  cloud:
    function:
      # 声明检查的函数处理器，| 管道符表示连接处理器
      # addDash 和 toTrim 都是 Function 类型，表示前者的输出会作为后者的输入
      # 在这里的示例中，toTrim 的输出指向了 allPrinter 的输入，因此会被其消费
      definition: stringSupplier;toUpperCase;addDash|toTrim;allPrinter
    stream:
      # 默认使用的 Binder
      default-binder: rabbit1
      # 定义 Binder，类型 rabbit、kafka
      binders:
        rabbit1:
          type: rabbit
          environment:
            spring:
              rabbitmq:
                host: 116.205.181.47
                username: admin
                password: admin123
                port: 5672
        rabbit2:
          type: rabbit
          environment:
            spring:
              rabbitmq:
                host: 116.205.181.47
                username: admin
                password: corgi123
                port: 5682
        kafka:
          type: kafka
          environment:
            spring:
              cloud:
                stream:
                  kafka:
                    binder:
                      brokers: 116.205.181.47:9092
                      auto-create-topics: true
      rabbit:
        bindings:
          stringConsumer-out-0:
            producer:
              # 设置交换机类型，默认 topic，可填 direct、fanout、headers
              exchange-type: direct
              # 指定固定的路由键，routing-key 在 3.2.x 版本不可用，只是提前暴露了属性配置而已
              # 4.x 才可用，还是优先推荐用 routing-key-expression
              # routing-key: string-consumer-key
              # 指定路由键表达式 SpEL，这里的意思是 Message 的 Headers 属性 type 表示路由键
              # 通过此来实现动态路由，当一个交换机有多个队列且路由键不同时
              # 默认为 destination，也就是取交换机的名称作为路由键
              routing-key-expression: headers.type
          stringSupplier-out-0:
            producer:
              routing-key-expression: headers.routingKey
          delayConsumer-out-0:
            producer:
              delayed-exchange: true
              # 消息延迟时间的计算 SpEL，消息延迟 header 属性是 x-delay，单位 ms
              delay-expression: "headers['first'] == 1 ? 2000 : 3000"
      function:
        # 为绑定声明别名
        bindings:
          addDash|toTrim-in-0: inTrimAndLowerCase
          addDash|toTrim-out-0: outTrimAndLowerCase
      bindings:
        # 指定好组合 Function 与 Consumer 的输入输出通道
        inTrimAndLowerCase:
          destination: trim-lower-topic
        outTrimAndLowerCase:
          destination: printer-topic
        allPrinter-in-0:
          destination: printer-topic
        # Function 配置，Function 包含输入输出，输出同样指定某个 Consumer#destination
        toUpperCase-in-0:
          destination: function-topic
          group: upper-demo
        toUpperCase-out-0:
          destination: msg-topic
        # Consumer 配置
        stringConsumer-out-0:
          destination: consumer-topic
        delayConsumer-out-0:
          destination: delay-topic
        # Supplier 配置，Supplier 只负责输出（生产），因此 destination 指定某个 Consumer#destination 即可
        stringSupplier-out-0:
          destination: supplier-topic
          # 该轮询配置只对 stringSupplier 绑定有效
          producer:
            poller:
              fixed-delay: 1m            # 发送间隔，默认 1s
          #     initial-delay: 1s           # 初始发送延迟时间，默认 0s，其下 units 属性可控制时间单位
          #     max-messages-per-poll: 1    # 每次轮询发送的消息条数，默认 1 条
          #     cron: 0/1 * * * * ?         # CRON 表达式指定发送周期，比 fixed-delay 优先级更高
        rabbit2Consumer-out-0:
          destination: rabbit-topic
          # 指定要使用的 Binder
          binder: rabbit2
        prepareQueue-out-0:
          destination: prepare-topic
          binder: rabbit2
          producer:
            # 预先创建的队列，Stream 关于队列默认是等到使用时才创建
            # 若不配置此项，那么当消费者未部署时，发送到此绑定的所有消息将丢失（也就是只有交换机，而没有绑定队列）
            required-groups:
              - prepare-queue